extends layout

block variables
  - var title = 'Reference Protocol Environment'
  - var descr = 'Инструментарий обеспечивающий работу по черновику протокола отсылок'

block content
  P.init= 'Инициализация'